<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.UserMapper">

    <insert id="register">
        insert into user(username,account,password,avatar,email,time)
        values(#{username},#{account},#{password},#{avatar},#{email},#{time})
    </insert>

    <insert id="InsertMessage">
        insert into message(fromUserId,toUserId, context)
        values(#{fromUserId},#{toUserId},#{context})
    </insert>

    <select id="getMessageByToUserId" resultType="com.example.backend.entity.po.MyMessage">
        select * from message where toUserId = #{toUserId} or toUserId = 0
    </select>
</mapper>