<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:applicationContext-aop.xml"/>
<!--    <import resource="classpath:applicationContext-ioc.xml"/>-->

    <!--  非 Web 环境下启动 Spring 容器，却加载了 Spring MVC 配置，
          导致 MVC Bean 在初始化时依赖 ServletContext，而普通 JVM 环境中不存在该对象，
          从而抛出 NoClassDefFoundError。  -->
        <import resource="classpath:applicationContext-mvc.xml"/>

</beans>